@import '@alfalab/core-components/vars/gaps.css';

.container {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;
  gap: 20px;
  margin-bottom: var(--gap-5xl);
}

@media (max-width: 380px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 1280px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
