@import '@alfalab/core-components/vars/gaps.css';
@import '@alfalab/core-components/vars/colors-indigo.css';

.header {
  width: 100%;
  height: 200px;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  margin-bottom: var(--gap-2xl);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

.title {
  font-size: 32px;
}

@media (max-width: 380px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 1280px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }

  .logo {
    width: 150px;
    height: 150px;
  }
}
